[submodule "lain"]
	path = lain
	url = git@github.com:lcpz/lain.git
[submodule "awesome-freedesktop"]
	path = awesome-freedesktop
	url = git@github.com:lcpz/awesome-freedesktop.git
[submodule "awesome-switcher"]
	path = awesome-switcher
	url = git@github.com:zenoli/awesome-switcher.git
[submodule "theme-switcher"]
	path = theme-switcher
	url = git@github.com:zenoli/theme-switcher.git
